<nav class="navbar navbar-expand-md navbar-dark">
    <img *ngIf="mobile" style="max-height: 40px; max-width: 35px;" alt="God's Word is like Nuggets of Gold" class="navbar-brand brand-image" src="assets/goldnuggeticon.png">
    <span *ngIf="mobile" style="font-size: 18px; font-weight: bold; color: khaki;"> User: {{currentUser}}</span>
    <button class="navbar-toggler" (click)="toggleExpanded()" [attr.aria-expanded]="!isCollapsed" type="button" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['/main']">Main Menu</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['practiceSetup']">Practice Setup
          <span class="sr-only">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['addQuote']">Add Quote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['myverselist']">My Passage List</a>
      </li>
      <li class="nav-item" *ngIf="currentUser !== memoryService.GUEST_USER">
          <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['search']">Search/Add</a>
      </li>
      <li *ngIf="currentPassage" class="nav-item">
        <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['edit']">Edit Passage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['bibleSearch']">Bible Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['chapterSelection']">View Chapter</a>
      </li>
      <li *ngIf="currentPassage" class="nav-item">
        <a id="cbCopy" class="nav-link" (click)="toggleExpanded()" ngxClipboard [cbContent]="passageTextForClipboard" (cbOnSuccess)="clipboardCopyComplete()">Copy</a>
      </li>
      <li *ngIf="currentUser" class="nav-item">
        <a class="nav-link" (click)="doLogout()">Logout</a>
      </li>
    </ul>
  </div>
  <span *ngIf="!mobile" style="font-size: 18px; font-weight: bold; color: khaki;"> User: {{currentUser}}</span>
</nav>
