<div class="container" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
  <mem-passage-navigation 
    (nextEvent)="next()" 
    (prevEvent)="prev()" 
    (answerEvent)="answer()" 
    (stopPracticeEvent)="stop()" 
    (interlinearEvent)="goToInterlinear()" 
    (clipboardEvent)="copyToClipboard()" 
    (toggleEvent)="prepareForCopyToClipboard()" 
    (everyTimeEvent)="setFrequencyEveryTime()" 
    (deleteEvent)="delete()" 
    [progressString]="progressString" 
    [showPassageTextFirst]="_showPsgText" 
    [frequencyDays]="_passage?.frequencyDays" 
    [lastPracticedDate]="_passage?.last_viewed_num" 
    [swipeEvent]="direction">
  </mem-passage-navigation>
  <div *ngIf="searching" class="row">
    <div class="col-md col-lg col-sm">
      <div style="text-align: center;">
        <p class="lead">{{searchingMessage}}</p><img src="assets/ajax-loader.gif" />
      </div>
    </div>
  </div>
  <div *ngIf="!searching" class="row">
    <div class="col-md col-lg col-sm">
      <div [@newPassage]="currentHtmlDisplayed" (@newPassage.done)="logIt($event, 'passageRef')" class="nugget-view" [innerHTML]="currentHtmlDisplayed" style="text-align: center;"></div>
    </div>
  </div>
  <div *ngIf="!searching && !_showPsgText" class="row">
    <div class="col-md col-lg col-sm">
      <button (click)="answer()" class="btn btn-primary btn-lg btn-block" style="margin-top: 30px; padding: 20px; font-size: 44px;"><i class="fa fa-lightbulb-o"></i> Answer</button>
    </div>
  </div>
</div>
