<div *ngIf="searching" class="container">
  <div class="row mt-5">
    <div class="col-md col-lg col-sm" style="text-align: center;">
      <h2>{{searchingMessage}}</h2>
      <img src="assets/ajax-loader.gif" />
    </div>
  </div>
</div>
<div *ngIf="!searching" class="container">
  <h3>Select Quotes to Add</h3>
  <div class="row">
    <div class="col-md col-sm">
      <div *ngFor="let quote of quotesForSelection" class="border border-primary" style="background-color: black; color: white; margin: 5px; padding: 5px;">
          {{quote.answer}}<br>
          <button class="btn btn-primary" (click)="addQuote(quote)">Add</button>
      </div>
    </div>
  </div>
</div>
