/* You can add global styles to this file, and also import other style files */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
    padding-bottom: 10px !important;
    color: #ffffff !important;
    background: #000000 !important;
    overflow-y: auto !important;
    font-family: Clan,'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 14px;
    font-style: normal !important;
}
a {
    color: #ffffff !important;
    font-size: 20px !important;
    cursor: pointer;
}
.nugget-view {
	font-weight: bold;
	line-height: 1.25em;
	font-size: 1.9em;
	height: 100%;
}
.psg-nav, i {
    font-size: 44px !important;
}

.wordsOfChrist {
	color: #FF0000;
}

.matchNugget {
  background-color: #8A2BE2FF;
}

.verse_num {
	font-weight: normal;
	font-size: 0.75em;
}

.bible_version {
	color: #00FFFF;
}

.search_result {
	color: #00FF00;
}

.modal-content {
	background: #000000 !important;
	border: 1px solid white !important;
}

.card {
	border: none;
}

.card-header {
	color: white !important;
	background-color: black !important;
}

.card-body {
	color: white;
	background-color: black;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.btn-link {
	color: white !important;
}

.main-menu-item {
	background: black !important;
	border: 2px solid white !important;
}

.main-menu-category {
	font-size: 1.75em;
}

.psg-nav-icon {
	margin: 9px;
}
